.content{
  background: white;
  width: 350px;
  height: 350px;
  border-radius: 5px;
  box-shadow: 0 0 3em rgba(0,0,0,.15);
  position: relative;
  /* transition: all 0.5s ease; */
}

.searchBox{
  position: absolute;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50px;
  width: 42px;
  height: 42px;
  display: flex;
  transition: 0.5s;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: 5px;
  left: 5px;

  visibility: hidden;
  
}
.content:hover .searchBox{
  visibility: visible;

}
/* .content:hover { 
  transition: 0.5s;
} */

.searchBox:hover{
  position: absolute;
  width: 250px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input{
 position: relative;
 margin:  5px 5px 5px 0;
 width: 100%;
 /* transition: 0.5s all ease; */
 height: 100%;
 border: none;
 padding: 10px 25px;
 outline: none;
 font-size: 1.1em;
 color: rgb(27, 106, 180);
 background:transparent ;
 
} 

.search-btn{
  margin: 0 2px;
  z-index: 1;
  padding: 7px;
  position: absolute;
  right: 0px;
  font-size: 1.2em;
  /* transition:0.5s; */
  border-radius: 50%;
  background-color: rgb(136, 140, 145);
  color: rgb(255, 255, 255);
}

.search-btn:hover{
  margin: 0 2px;
  border-radius: 50%;
  background-color: rgb(127, 182, 255);
 
}
.temp-gif{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.result{
  justify-content: center;
  padding: 5px;
  /* width: 350px; */
}

.result .list{
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  height: 350px;
  /* overflow: hidden; */
  /* width: 50%; */
  /* flex-direction: column; */
}

.result .list .item{
  cursor: pointer;
  margin:10px;
  width: 100%;
  /* height: 100%; */
  border: 5px solid rgb(189, 217, 228);
}

.result .list .item img{
  width: 100%;
}

.set-btn{
  width: 100%;
    color: #fff;
    transition: all 0.5s ease;
  background-color: rgb(100, 142, 219);
}
.set-btn:hover{
  width: 100%;
  color: #fff;
  background-color: rgb(23, 98, 238);
}

.loading{
  margin-left: 45%;
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 5px solid rgba(85, 201, 255, 0.333);
  border-top: 5px solid #111;
  border-radius: 50%;
  transform: rotate(0deg);
  animation: loading 500ms ease-in-out infinite;

}

@keyframes loading{
  to{
    transform: rotate(360deg);
  }
}