.search{
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgb(173, 232, 247) ;
  border-radius:60px;
  transition: 0.5s;
  box-shadow: 0 0 0 5px #95b4e6;

}

.icon{
    cursor: pointer;
    font-size: 25px;
    margin: 20% 16%;
}

.inputContainer {
  padding: 5px;     
}